@model Eshopper_website.Models.Brand

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Brand</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BRA_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BRA_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BRA_Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BRA_Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BRA_Slug)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BRA_Slug)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BRA_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BRA_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BRA_DisplayOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BRA_DisplayOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BRA_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
